.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.home__content {
    text-align: center;
}

.home__title {
    margin-top: 150px;
    font-size: 2.5rem;
}

.home__image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
